{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
  email = {{ $email | quote }}
  onepw_uuid.wakatime_api_key = "lhmq7frb5i3xw2cksvzrgv53va"
  onepw_uuid.git_cfg_credentials = "a5wilkp4dbdiy2vebd3reac2gu"
  onepw_uuid.jfrog_auth = "ui3lp4stnmwsgpfvyzhjriucma"
