[user]
	name = JJLewis
	email = {{ .email }}
{{ (onepasswordDetailsFields .onepw_uuid.git_cfg_credentials).notesPlain.value }}
[core]
	excludesfile = {{.chezmoi.homeDir}}/.gitignore
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
