[settings]
api_key ={{" "}}
{{- range (onepassword .onepw_uuid.wakatime_api_key).fields -}}
{{   if (eq .label "credential") -}}
{{     .value -}}
{{   end -}}
{{ end }}
hide_file_names = true
hide_project_names = true
hide_branch_names = true
hide_project_folder = true
offline = true
